In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
movies_df = pd.read_csv('./imdb-5000-movie-dataset/movie_metadata.csv')
movies_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [56]:
movies_df['movieIndex'] = movies_df.index
movies_df = movies_df[['movieIndex','movie_title','genres','imdb_score','movie_facebook_likes','content_rating','budget','gross']]
movies_df.head()

,movieIndex,movie_title,genres,imdb_score,movie_facebook_likes,content_rating,budget,gross
0,0,Avatar,Action|Adventure|Fantasy|Sci-Fi,7.9,33000,PG-13,237000000.0,760505847.0
1,1,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,7.1,0,PG-13,300000000.0,309404152.0
2,2,Spectre,Action|Adventure|Thriller,6.8,85000,PG-13,245000000.0,200074175.0
3,3,The Dark Knight Rises,Action|Thriller,8.5,164000,PG-13,250000000.0,448130642.0
4,4,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary,7.1,0,NaN,NaN,NaN

In [57]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

,movieIndex,movie_title,genres,imdb_score,movie_facebook_likes,content_rating,budget,gross
0,0,Avatar,"[Action, Adventure, Fantasy, Sci-Fi]",7.9,33000,PG-13,237000000.0,760505847.0
1,1,Pirates of the Caribbean: At World's End,"[Action, Adventure, Fantasy]",7.1,0,PG-13,300000000.0,309404152.0
2,2,Spectre,"[Action, Adventure, Thriller]",6.8,85000,PG-13,245000000.0,200074175.0
3,3,The Dark Knight Rises,"[Action, Thriller]",8.5,164000,PG-13,250000000.0,448130642.0
4,4,Star Wars: Episode VII - The Force AwakensÂ ...,[Documentary],7.1,0,NaN,NaN,NaN

In [58]:
movieGenres_df = movies_df[['movieIndex','movie_title','genres']]
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        movieGenres_df.at[index, genre] = 1
movieGenres_df = movieGenres_df.fillna(0)
movieGenres_df = movieGenres_df.drop('genres',1)
movieGenres_df.head()

,movieIndex,movie_title,Action,Adventure,Fantasy,Sci-Fi,Thriller,Documentary,Romance,Animation,...,Crime,Horror,War,Biography,Music,Game-Show,Reality-TV,News,Short,Film-Noir
0,0,Avatar,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Pirates of the Caribbean: At World's End,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Spectre,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,The Dark Knight Rises,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Star Wars: Episode VII - The Force AwakensÂ ...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
# n = int(input("Enter no of movies"))
# arr = []
# for i in range(n):
#     obj = {}
#     obj['movie_title'] = input("Enter movie title")
#     obj['rating'] = float(input("Enter rating"))
#     arr.append(obj)
# arr
userInputMovies = [{'movieIndex': 2, 'rating': 8},
              {'movieIndex': 7, 'rating': 6},
              {'movieIndex': 19, 'rating': 7},
              {'movieIndex': 57, 'rating': 9},
              {'movieIndex': 90, 'rating': 5},
              {'movieIndex': 80, 'rating': 6},
              {'movieIndex': 147, 'rating': 3},
              {'movieIndex': 89, 'rating': 9},
              {'movieIndex': 876, 'rating': 7},
              {'movieIndex': 567, 'rating': 9}]

In [60]:
inputMovies = pd.DataFrame(userInputMovies)
inputMovies.head()

   movieIndex  rating
0           2       8
1           7       6
2          19       7
3          57       9
4          90       5

In [61]:
userMovies = movieGenres_df[movieGenres_df['movieIndex'].isin(inputMovies['movieIndex'].tolist())]
userGenreTable = userMovies.drop('movieIndex',1).drop('movie_title',1)
userGenreTable = userGenreTable.reset_index(drop=True)
userGenreTable

,Action,Adventure,Fantasy,Sci-Fi,Thriller,Documentary,Romance,Animation,Comedy,Family,...,Crime,Horror,War,Biography,Music,Game-Show,Reality-TV,News,Short,Film-Noir
0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Action         42.0
Adventure      62.0
Fantasy        13.0
Sci-Fi         30.0
Thriller       17.0
Documentary     0.0
Romance         6.0
Animation      31.0
Comedy         38.0
Family         38.0
Musical         6.0
Mystery         0.0
Western         0.0
Drama           6.0
History         0.0
Sport           0.0
Crime           0.0
Horror          0.0
War             0.0
Biography       0.0
Music           0.0
Game-Show       0.0
Reality-TV      0.0
News            0.0
Short           0.0
Film-Noir       0.0
dtype: float64

In [63]:
genreTable = movieGenres_df.set_index(movieGenres_df['movieIndex'])
genreTable = movieGenres_df.drop('movieIndex',1).drop('movie_title',1)
genreTable.head()

,Action,Adventure,Fantasy,Sci-Fi,Thriller,Documentary,Romance,Animation,Comedy,Family,...,Crime,Horror,War,Biography,Music,Game-Show,Reality-TV,News,Short,Film-Noir
0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

132     0.878893
1424    0.878893
1008    0.854671
3539    0.854671
89      0.854671
dtype: float64

In [65]:
movies_df.loc[movies_df['movieIndex'].isin(recommendationTable_df.head(20).keys())]

,movieIndex,movie_title,genres,imdb_score,movie_facebook_likes,content_rating,budget,gross
19,19,Men in Black 3,"[Action, Adventure, Comedy, Family, Fantasy, S...",6.8,40000,PG-13,2.250000e+08,179020854.0
68,68,Monsters vs. Aliens,"[Action, Adventure, Animation, Comedy, Family,...",6.5,0,PG,1.750000e+08,198332128.0
89,89,Big Hero 6,"[Action, Adventure, Animation, Comedy, Drama, ...",7.9,41000,PG,1.650000e+08,222487711.0
132,132,G-Force,"[Action, Adventure, Animation, Comedy, Family,...",5.1,0,PG,1.500000e+08,119420252.0
143,143,Mars Needs Moms,"[Action, Adventure, Animation, Comedy, Family,...",5.4,0,PG,1.500000e+08,21379315.0
152,152,Men in Black II,"[Action, Adventure, Comedy, Family, Fantasy, M...",6.1,2000,PG-13,1.400000e+08,190418803.0
162,162,How to Train Your Dragon 2,"[Action, Adventure, Animation, Comedy, Family,...",7.9,46000,PG,1.450000e+08,176997107.0
191,191,Puss in Boots,"[Action, Adventure, Animation, Comedy, Family,...",6.7,16000,PG,1.300000e+08,149234747.0
443,443,Lilo & Stitch,"[Adventure, Animation, Comedy, Drama, Family, ...",7.2,0,PG,8.000000e+07,145771527.0
510,510,Journey 2: The Mysterious Island,"[Action, Adventure, Comedy, Family, Fantasy, S...",5.8,0,PG,7.900000e+07,103812241.0
529,529,Ice Age: The Meltdown,"[Action, Adventure, Animation, Comedy, Family,...",6.9,0,PG,8.000000e+07,195329763.0
623,623,Osmosis Jones,"[Action, Adventure, Animation, Comedy, Crime, ...",6.2,2000,PG,7.000000e+07,13596911.0
682,682,Zathura: A Space Adventure,"[Action, Adventure, Comedy, Family, Fantasy, S...",6.1,0,PG,6.500000e+07,28045540.0
767,767,The Lego Movie,"[Action, Adventure, Animation, Comedy, Family,...",7.8,64000,PG,6.000000e+07,257756197.0
1008,1008,The Iron Giant,"[Action, Adventure, Animation, Comedy, Drama, ...",8.0,0,PG,7.000000e+07,23159305.0
1424,1424,TMNT,"[Action, Adventure, Animation, Comedy, Family,...",6.3,0,PG,3.400000e+07,54132596.0
1881,1881,Jimmy Neutron: Boy Genius,"[Action, Adventure, Animation, Comedy, Family,...",6.0,425,G,3.000000e+07,80920948.0
2135,2135,Teenage Mutant Ninja Turtles III,"[Action, Adventure, Comedy, Family, Fantasy, S...",4.8,1000,PG,1.700000e+07,42660000.0
2334,2334,Steamboy,"[Action, Adventure, Animation, Family, Sci-Fi,...",6.9,973,PG-13,2.127520e+09,410388.0
3539,3539,Alpha and Omega 4: The Legend of the Saw Tooth...,"[Action, Adventure, Animation, Comedy, Drama, ...",6.0,41,NaN,7.000000e+06,NaN